@charset "UTF-8";

body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}

/********************** header ****************************/

/* サイト名 */

.site h1 a {
  text-decoration: none;
  color: #83a4a8;
}

.site h1 {
  margin: 0;
  font-size: 30px;
  font-family: 'Paytone One', sans-serif;
  font-weight: normal;
}

.box1 {
  padding: 8px 0;
}

/* ナビゲーション */

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  font-size: 14px;
  padding: 15px;
  color: #000000;
  display: block;
}

.menu li a:hover {
  background-color: #75dbe7;
}

.menu li {
  float: left;
  width: auto;
}

.menu ul::after {
  content: "";
  display: block;
  clear:both;
}

.box2 {
  background-color: #7cbac1;
}

/************************* headerここまで *********************/

/************************* main *******************************/

/* 記事カテゴリー */

.kijicat {
  margin-bottom: 25px;
}

.kijicat ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.kijicat li a {
  display: block;
  margin-right: 5px;
  padding: 3px 5px;
  border-radius: 2px;
  color: #ffffff;
  background-color: #75dbe7;
  font-size: 12px;
  text-decoration: none;
}

.kijicat li a:hover {
  background-color: #94ecf6;
}

.kijicat li {
  float: left;
  width: auto;
}

.kijicat ul:after {
  content: "";
  display: block;
  clear: both;
}

/* 記事本体 */

.kiji h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
}

.kiji h2 {
  margin-top: 40px;
  padding-left: 10px;
  border-left: 10px solid #7cbac1;
  font-weight: normal;
}

.kiji p {
  margin-top: 0px;
  margin-bottom: 20px;
}

.kiji img {
  max-width: 100%;
  height: auto;
}

/* 記事の投稿日 */

.kijiinfo {
  margin-top: -10px;
  margin-bottom: 20px;
}

.kijiinfo i {
  margin-right: 5px;
  color: #aaaaaa;
  font-size: 20px;
}

.box3 {
  padding: 40px 0 30px;
}

/* シェアボタン */

.share {
  margin-top: 40px;
}

.share ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.share li a {
  display: block;
  padding: 10px 5px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}

.share li a:hover {
  opacity: 0.8;
}

.share li {
  float: left;
  width: 33.3333%;
}

.share ul::after {
  content: "";
  display: block;
  clear: both;
}

.share-tw {
  background-color: #55acee;
}

.share-fb {
  background-color: #3b5998;
}

.share-gp {
  background-color: #dd4b39;
}

/****************** 関連記事 ***********************/

.kanren {
  margin-top: 40px;
  padding: 20px;
  background-color: #f0f0d4;
}

.kanren h1 {
  margin: 0 0 5px;
  color: #727224;
  font-size: 20px;
  font-weight: normal;
}

.kanren ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.kanren li a {
  display: block;
  padding: 5px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.kanren li a:hover {
  text-decoration: underline;
}

.kanren li {
  float: left;
  width: 25%;
}

.kanren ul::after {
  content: "";
  display: block;
  clear: both;
}

.kanren img {
  max-width: 100%;
  height: auto;
  border: none;
}

/***************** サイドバー ********************/

/* 特集 */

.sidemenu {
  margin-bottom: 30px;
}

.sidemenu h1 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dashed 2px #dddddd;
  color: #666666;
  font-size: 18px;
}

.sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidemenu li a {
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  color: #000000;
  display: block;
}

.sidemenu li a:hover {
  background-color: #eeeeee;
}

.sidemenu i {
  margin-right: 5px;
  color: #888888;
}

/* おすすめ記事 */

.osusume {
  margin-bottom: 30px;
}

.osusume h1 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dashed 2px #dddddd;
  color: #666666;
  font-size: 18px;
}

.osusume ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.osusume li a {
  text-decoration: none;
  font-size: 14px;
  padding: 0px;
  margin-bottom: 10px;
  color: #000000;
  display: block;
}

.osusume li a:hover {
  background-color: #eeeeee;
  opacity: 0.8;
}

.osusume img {
  width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
}

.osusume .text {
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

/* テキストボックスを画像に重ねる */

.osusume a {
  position: relative;
}

.osusume .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

/* 人気記事 */

.ninki h1 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dashed 2px #dddddd;
  color: #666666;
  font-size: 18px;
}

.ninki ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ninki li a {
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  color: #2288bb;
  border-bottom: 1px dotted #dddddd;
  display: block;
}

.ninki li a:hover {
  background-color: #eeeeee;
}

.ninki li a img {
  border: none;
}

.ninki img {
  float: left;
  width: 60px;
}

.ninki .text {
  float: none;
  width: auto;
  margin-left: 60px;
  padding-left: 15px;
}

.ninki a::after {
  content: "";
  display: block;
  clear: both;
}

.ninki span {
  display: block;
  color: #666666;
  font-size: 12px;
}

.box4 {
  padding: 40px 0 30px;
}

/*********************** mainここまで *********************/

/******************* footer **************************/

/* コピーライト */

.copyright {
  margin: 0;
  color: #666666;
  font-size: 14px;
}

.box5 {
  border-top: 1px solid #dddddd;
  padding: 15px 0;
}

/******************* レスポンシブ ********************/

/*********** 599px以下 *************/
@media (max-width: 599px) {

/* サイト名と記事タイトルを小さく */

.site h1 {
  font-size: 20px;
}

.kiji h1 {
  font-size: 26px;
}

.box1 {
  padding: 4px 0;
}

/* ナビゲーション */

.menu li a {
  padding: 10px 3px;
  font-size: 11px;
}

/* boxの間隔 */

.box3 {
  padding-top: 25px;
}

/* シェアボタン */

.share span {
  display: inline-block;
  text-indent: -9999px;
}

/* 関連記事を2列にする */

.kanren {
  padding: 10px;
}

.kanren li {
  width: 50%;
}

.kanren li:nth-child(3n) {
  clear: both;
}


}

/*********** 600px～767px ************/
@media (min-width: 600px) and (max-width: 767px) {

/* box4-1とbox4-2を横に並べる */
.box4-1 {
  float: left;
  width: 50%;
}

.box4-2 {
  float: left;
  width: 50%;
}

.box4::after {
  content: "";
  display: block;
  clear: both;
}

/* box4-1とbox4-2の間隔を調整 */
.box4-1 {
  padding-right: 20px;
  box-sizing: border-box;
}

.box4-2 {
  padding-left: 20px;
  box-sizing: border-box;
}

}

/*********** 768px～ ************/
@media (min-width: 768px) {
/* BOX3とBOX4を横に並べる設定 */
.boxA:after	{content: "";
	display: block;
	clear: both}

.box3	{float: left;
	width: 70%}

.box4	{float: left;
	width: 30%}

/* BOX3とBOX4の左右の間隔 */

.box3 {
  padding-right: 50px;
  box-sizing: border-box;
}

}

/*********** 1040px～ ************/
@media (min-width: 1040px) {

/* 全体の横幅を固定する */
.box1, .box2, .boxA, .box5 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

}
