@charset "UTF-8";

body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif}

/********************** header ****************************/

/* サイト名 */

.site h1 a {
  text-decoration: none;
  color: #83a4a8;
}

.site h1 {
  margin: 0;
  font-size: 30px;
  font-family: 'Paytone One', sans-serif;
  font-weight: normal;
}

.box1 {
  padding: 8px 0;
}

/* ナビゲーション */

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  font-size: 14px;
  padding: 15px;
  color: #000000;
  display: block;
}

.menu li a:hover {
  background-color: #75dbe7;
}

.menu li {
  float: left;
  width: auto;
}

.menu ul::after {
  content: "";
  display: block;
  clear:both;
}

.box2 {
  background-color: #7cbac1;
}

/************************* headerここまで *********************/

/************************* main *******************************/

/* 記事 */

.kijicat {
  margin-bottom: 25px;
}

.kijicat ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.kijicat li a {
  display: block;
  margin-right: 5px;
  padding: 3px 5px;
  border-radius: 2px;
  color: #ffffff;
  background-color: #75dbe7;
  font-size: 12px;
  text-decoration: none;
}

.kijicat li a:hover {
  background-color: #94ecf6;
}

.kijicat li {
  float: left;
  width: auto;
}

.kijicat ul:after {
  content: "";
  display: block;
  clear: both;
}

.kiji h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
}

.kiji p {
  margin-top: 0px;
  margin-bottom: 20px;
}

.kiji img {
  max-width: 100%;
  height: auto;
}

.kijiinfo {
  margin-top: -10px;
  margin-bottom: 20px;
}

.kijiinfo i {
  margin-right: 5px;
  color: #aaaaaa;
  font-size: 20px;
}

.box3 {
  padding: 40px 0 30px;
}

/******** サイドメニュー *******/

/* 特集 */

.sidemenu {
  margin-bottom: 30px;
}

.sidemenu h1 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dashed 2px #dddddd;
  color: #666666;
  font-size: 18px;
}

.sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidemenu li a {
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  color: #000000;
  display: block;
}

.sidemenu li a:hover {
  background-color: #eeeeee;
}

/* おすすめ記事 */

.osusume {
  margin-bottom: 30px;
}

.osusume h1 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dashed 2px #dddddd;
  color: #666666;
  font-size: 18px;
}

.osusume ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.osusume li a {
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  color: #000000;
  display: block;
}

.osusume li a:hover {
  background-color: #eeeeee;
}

/* 人気記事 */

.ninki h1 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dashed 2px #dddddd;
  color: #666666;
  font-size: 18px;
}

.ninki ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ninki li a {
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  color: #000000;
  display: block;
}

.ninki li a:hover {
  background-color: #eeeeee;
}

.box4 {
  padding: 40px 0 30px;
}

/*********************** mainここまで *********************/

/******************* footer **************************/

/* コピーライト */

.copyright {
  margin: 0;
  color: #666666;
  font-size: 14px;
}

.box5 {
  border-top: 1px solid #dddddd;
  padding: 15px 0;
}

/******************* レスポンシブ ********************/

/*********** 599px以下 *************/
@media (max-width: 599px) {

/* サイト名と記事タイトルを小さく */

.site h1 {
  font-size: 20px;
}

.kiji h1 {
  font-size: 26px;
}

.box1 {
  padding: 4px 0;
}

/* ナビゲーション */

.menu li a {
  padding: 10px 3px;
  font-size: 11px;
}

/* boxの間隔 */

.box3 {
  padding-top: 25px;
}

}

/*********** 600px～767px ************/
@media (min-width: 600px) and (max-width: 767px) {

/* box4-1とbox4-2を横に並べる */
.box4-1 {
  float: left;
  width: 50%;
}

.box4-2 {
  float: left;
  width: 50%;
}

.box4::after {
  content: "";
  display: block;
  clear: both;
}

/* box4-1とbox4-2の間隔を調整 */
.box4-1 {
  padding-right: 20px;
  box-sizing: border-box;
}

.box4-2 {
  padding-left: 20px;
  box-sizing: border-box;
}

}

/*********** 768px～ ************/
@media (min-width: 768px) {
/* BOX3とBOX4を横に並べる設定 */
.boxA:after	{content: "";
	display: block;
	clear: both}

.box3	{float: left;
	width: 70%}

.box4	{float: left;
	width: 30%}

/* BOX3とBOX4の左右の間隔 */

.box3 {
  padding-right: 50px;
  box-sizing: border-box;
}

}

/*********** 1040px～ ************/
@media (min-width: 1040px) {

/* 全体の横幅を固定する */
.box1, .box2, .boxA, .box5 {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

}
